<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.8" />
    <!--<httpRuntime maxRequestLength="2097151" encoderType="System.Web.Security.AntiXss.AntiXssEncoder"/>-->
    <authentication mode="Windows" />
    <httpRuntime maxRequestLength="2000000" executionTimeout="3600" targetFramework="4.8" encoderType="System.Web.Security.AntiXss.AntiXssEncoder" enableVersionHeader="false" />
    <sessionState timeout="20" mode="InProc" cookieless="false" cookieSameSite="None" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <customErrors mode="Off" defaultRedirect="~\Error.aspx">
      <error statusCode="403" redirect="~\Error.aspx" />
      <error statusCode="404" redirect="~\Error.aspx" />
      <error statusCode="500" redirect="~\Error.aspx" />
    </customErrors>
    <trace enabled="true" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <!--<add name="MIPASS" connectionString="Data Source=10.9.246.173;Initial Catalog=MIPASS;User ID=sa;pwd=sys123$" providerName="System.Data.SqlClient" />-->
    <add name="MIPASS" connectionString="Data Source=13.202.222.151;Initial Catalog=MIPASS;User ID=investmeghalaya;pwd=investmeghalaya100%" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="SmsKey" value="3fd03678-b243-496c-bbe1-a2e8cf220b23" />
    <add key="SmsUserID" value="KUMGOK" />
    <add key="SmsURL" value="https://msdgweb.mgov.gov.in/esms/sendsmsrequestDLT" />
    <add key="FromMail" value="investmeghalayaauthority@gmail.com" />
    <add key="FromMailPwd" value="xhsyaylmlhhywjmm" />
    <add key="IsBodyHtml" value="true" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="UseDefaultCredentials" value="false" />
    <add key="EnableSsl" value="true" />
    <add key="IsAttchmentsAllowed" value="true" />
    <add key="IsServer" value="true" />
    <add key="FileSize" value="5000000" />
    <add key="PreRegAttachments" value="D:\MeghalayaAttachments\PreRegAttachments\" />
    <add key="CFEAttachments" value="D:\MeghalayaAttachments\CFEAttachments\" />
    <add key="CFOAttachments" value="D:\MeghalayaAttachments\CFOAttachments\" />
    <add key="RENAttachments" value="D:\MeghalayaAttachments\RENAttachments\" />
    <add key="SRVCAttachments" value="D:\MeghalayaAttachments\SRVCAttachments\" />
    <add key="Ammendments" value="D:\MeghalayaAttachments\Ammendments\" />
    <add key="GrievanceAttachments" value="D:\MeghalayaAttachments\GrievanceAttachments\" />
    <add key="HelpDeskAttachments" value="D:\MeghalayaAttachments\HelpDeskAttachments\" />
    <add key="PGReturnurl" value="https://localhost:44379/User/Payments/RazorPaymentResponse.aspx" />
    <add key="PGCancelurl" value="https://localhost:44379/User/CFE/CFEPaymentPage.aspx" />
    <add key="PGKeyTest" value="rzp_test_l9labd1MMZqwzK" />
    <add key="PGSecretTest" value="iX44FqckwRPPRhuMmiltpKBd" />
    <add key="PGKey" value="rzp_test_l9labd1MMZqwzK" />
    <add key="PGSecret" value="iX44FqckwRPPRhuMmiltpKBd" />
    <!--<add key="expectedHost" value="103.154.75.191" /> 
    <add key="expectedHostPath" value="InvestMeghalaya" />-->
    <add key="expectedHost" value="localhost:44379" />
    <add key="expectedHostPath" value="localhost" />
    <!--<add key="Redirectionurl" value="https://invest.meghalaya.gov.in/Home.aspx" />-->
    <add key="Redirectionurl" value="http://103.154.75.191/InvestMeghalaya/Home.aspx" />
  </appSettings>
  <system.webServer>
    <modules>
      <add name="QueryStringModule" type="QueryStringModule" />
    </modules>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <!--sowjanya-->
        <remove name="Server" />
        <add name="Server" value="Inside" />
        <remove name="X-Content-Type-Options" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <remove name="X-Powered-By" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <!--<add name="X-Frame-Options" value="DENY" />-->
        <add name="strict-transport-security" value="1; mode=max-age=31536000; includeSubDomains; preload " />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
        <add name="Content-Security-Policy-Report-Only" value="default-src 'self'" />
        <!--<add name="Content-Security-Policy" value="default-src 'self'"/>-->
        <add name="x-content-type" value="nosniff" />
        <add name="Referrer-Policy" value="no-referrer" />
        <remove name="ETag" />
        <add name="ETag" value="None" />
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        <remove name="X-Server" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <remove name="Server" />
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        <remove name="X-Server" />
        <add name="Permissions-Policy" value="geolocation=(), camera=(), microphone=()" />
      </customHeaders>
    </httpProtocol>
    <!--sowjanya-->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="~/ErrorPage.aspx" responseMode="Redirect" subStatusCode="0" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="~/ErrorPage.aspx" responseMode="Redirect" />
    </httpErrors>
    <rewrite>
      <outboundRules>
        <remove name="Remove Server header" />
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".*" />
          <conditions />
          <action type="Rewrite" value="" />
        </rule>
        <rule name="Remove Headers">
          <match serverVariable="RESPONSE_X-Powered-By" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
        <rule name="Remove ASP.NET Version">
          <match serverVariable="RESPONSE_X-AspNet-Version" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
    </rewrite>
    <!--sowjanya-->
    <directoryBrowse enabled="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 515C813F-6671-4047-991A-08CA8D4114FD-->